body {
	font-family: Arial, sans-serif;
	background-color: #c5fcc0; /* light green */
	padding: 20px;
}

h1 {
	color: #074d02; /* very dark green */
	text-align: center;
}

form {
	max-width: 400px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

select {
	width: 100%;
	padding: 8px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

select option:hover {
	box-shadow: 0 0 10px 100px #0a7501 inset !important;
	color: #fff;
}

select option:checked {
	box-shadow: 0 0 10px 100px #0a7501 inset !important;
}

input[type="submit"] {
	width: 100%;
	padding: 10px;
	background-color: #0d9401; /* dark green */
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

input[type="submit"]:hover {
	background-color: #0a7501; /* nearly very dark green */
}

table {
	width: 100%;
	margin-top: 20px;
	border-collapse: collapse;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
	padding: 12px;
	text-align: left;
	border: 1px solid #0d9401; /* dark green */
}

th {
	background-color: #0d9401; /* dark green */
	color: #fff;
}

td {
	background-color: #d2ffcf; /* very light green */
}

tr:nth-child(even) td {
	background-color: #8cf783; /* medium green */
}

#data {
	display: none;
}
