body {
	font-family: Arial, sans-serif;
	background-color: #e0f7fa;
	padding: 20px;
}

h1 {
	color: #01579b;
	text-align: center;
}

form {
	max-width: 400px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

select {
	width: 100%;
	padding: 8px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

input[type="submit"] {
	width: 100%;
	padding: 10px;
	background-color: #0288d1;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

input[type="submit"]:hover {
	background-color: #0277bd;
}

table {
	width: 100%;
	margin-top: 20px;
	border-collapse: collapse;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
	padding: 12px;
	text-align: left;
	border: 1px solid #0288d1;
}

th {
	background-color: #0288d1;
	color: white;
}

td {
	background-color: #e1f5fe;
}

tr:nth-child(even) td {
	background-color: #b3e5fc;
}

#data {
	display: none;
}
